@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  font-family: 'Exo', sans-serif;
  font-size: 14px;
}

main {
  min-height: 80vh;
}

.top-bar p{
  font-size: .5625em;
}


.nav-link{
  color: #363636;
  font-size: .8125em;
  font-weight: 700;
  line-height: 92px;
  padding: 0 32px!important;
}

.header-icon .iconify{
  font-size: 25px
}

.top-bar{
  background-color: #252627;
  padding: 10px;
}

.top-bar p{
  color: #fff;
  font-size: 12px;
}


.top-bar a{
  text-decoration: none;
  color: #fff;
}
.text-primary{
  color:#1c95f3!important;
}

.btn-secondary{
  background-color: #f30a5c;
  border-radius: 200px;
  border-color: #f30a5c!important;
  box-shadow:none;
  font-size: 12px;
}

.btn-primary{
  background-color: #1c95f3!important;
  border-radius: 200px;
  border-color: #1c95f3!important;
  box-shadow:none;
  font-size: 12px;
}


.post-preview{
  position: relative;
}

.post-preview .post-preview-img {
  height: 640px;
  box-shadow: inset 0px -310px 370px -40px rgb(0 0 0 / 85%);
  transition: transform .3s ease-in-out;
  margin: 0px;
}







.post-preview.picture .post-preview-img-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}

.post-preview .post-preview-img-overlay {
  transition: opacity .3s ease-in-out;
}

.post-preview .post-preview-overlay {
  width: 100%;
  height: 100%;
  padding: 0 14px;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.post-preview.picture .post-preview-overlay {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  background-color: transparent;
  top: auto;
  bottom: 0;
}

.post-preview.picture.big .post-preview-overlay {
  padding: 0 30px;
  margin-bottom: 26px;
}

.post-preview .post-preview-overlay {
  margin-bottom: 44px;
  overflow: hidden;
}


.post-preview.picture.big .tag-ornament {
  position: static;
}

.post-preview.big .tag-ornament {
  top: 280px;
}

.post-preview.big .tag-ornament {
  top: 280px;
}

.post-preview.gaming-news .tag-ornament {
  background-color: #1c95f3;
}

.tag-ornament {
  display: inline-block;
  padding: 0 10px;
  background-color: #252627;
  color: #fff;
  font-family: "Roboto",sans-serif;
  font-size: .625em;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.post-preview.picture .post-preview-img-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}

.post-preview .post-preview-overlay .post-preview-title, .post-preview .post-preview-overlay .post-preview-text {
  -o-transform: translate(0, 106px);
  -moz-transform: translate(0, 106px);
  -ms-transform: translate(0, 106px);
  -webkit-transform: translate(0, 106px);
  transform: translate(0, 106px);
  transition: transform .3s ease-in-out;
}

.post-preview.picture.big .post-preview-overlay .post-preview-title {
  margin-top: 14px;
}

.post-preview.picture.big .post-preview-overlay .post-preview-text {
  display: block;
  width: 340px;
  font-size: .8125em;
  line-height: 1.6923076923em;
}

.post-preview .post-preview-overlay .post-preview-text {
  -o-transform: translate(0, 106px);
  -moz-transform: translate(0, 106px);
  -ms-transform: translate(0, 106px);
  -webkit-transform: translate(0, 106px);
  transform: translate(0, 106px);
  transition: transform .3s ease-in-out;
}


.post-preview-overlay .post-preview-title, .post-preview .post-preview-overlay .post-preview-text {
  color: #fff;
  display: block;
  font-family: "Exo",sans-serif;
  font-weight: 700;
  font-size: 2.25em;
    line-height: 1.1666666667em;
}

.post-preview.picture.big .post-preview-overlay .post-preview-text {
  display: block;
  width: 340px;
  font-size: .8125em;
  line-height: 1.6923076923em;
  color: #fff;
}

.post-preview:hover .post-preview-overlay .post-preview-title,.post-preview:hover .post-preview-overlay .post-preview-text {
  -o-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
 .post-preview .post-preview-overlay .post-preview-title, .post-preview .post-preview-overlay .post-preview-text {
  -o-transform: translate(0, 106px);
  -moz-transform: translate(0, 106px);
  -ms-transform: translate(0, 106px);
  -webkit-transform: translate(0, 106px);
  transform: translate(0, 106px);
  transition: transform .3s ease-in-out;
}


 .post-preview:hover .post-preview-overlay .post-preview-text {
  -o-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.post-preview .post-preview-img-overlay {
  transition: opacity .3s ease-in-out;
}

.post-preview:hover .post-preview-img-overlay {
  opacity: 0;
}

.post-preview .tag-ornament {
  -o-transform: translate(0, 106px);
  -moz-transform: translate(0, 106px);
  -ms-transform: translate(0, 106px);
  -webkit-transform: translate(0, 106px);
  transform: translate(0, 106px);
  transition: transform .3s ease-in-out;
}


.post-preview:hover .tag-ornament {
  -o-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}


.post-preview .post-preview-overlay .post-preview-title,  .post-preview .post-preview-overlay .post-preview-text {
  -o-transform: translate(0, 106px);
  -moz-transform: translate(0, 106px);
  -ms-transform: translate(0, 106px);
  -webkit-transform: translate(0, 106px);
  transform: translate(0, 106px);
  transition: transform .3s ease-in-out;
}

.post-preview:hover .post-preview-overlay .post-preview-title,  .post-preview:hover .post-preview-overlay .post-preview-text {
  -o-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.post-preview .post-preview-img-overlay {
  transition: opacity .3s ease-in-out;
}

.post-preview:hover .post-preview-img-overlay {
  opacity: 0;
}

.slick-next {
  right: 15px!important;
  z-index: 999;
}

.slick-prev {
  left: 15px!important;
  z-index: 999;
}